body{
  padding: 2.6vh;
  padding-left: 6.5vw;
  padding-right: 6.5vw;
  margin-top: -6.5vh;
  background: Navajowhite;
  color: #550000;
  text-align: center;
  font-size: 2.2vw;
  font-family: Times New Roman;
}

p, ul, ol{
  font-size: 30px;
}

header{
  background: #ffaa88;
  border-radius: 1.5vmax;
  box-shadow: 0.75vw 0.6vw rgba(127, 0, 0, 0.4);
}

.meniu{
  display: inline-block;
}
.meniu:hover .subMeniu{
  display: block;
}
.subMeniu, .subSubMeniu{
  display: none;
  position: absolute;
  z-index: 2;
  margin-top: -0.8vw;
  margin-left: 0.8vw;
}
.subMeniu:hover .subSubMeniu{
  display: block;
}
.subSubMeniu{
  margin-top: 0;
  margin-left: 3vw;
}

.link, .linkPag, .linkSub{
  border: outset gold;
  padding: 2.3vh 1.85vw;
  margin: 0.8vw;
  margin-top: -3.25vh;
  text-decoration: none;
  border-radius: 0.6vmax;
  transition: background 0.3s;
}
.link:hover, .linkPag:hover, .linkSub:hover{
  background: #ffee55;
}
.link{
  background: #88ffaa;
  color: #770000;
  display: inline-block;
}
.linkPag{
  background: #bb9dff;
  color: #550000;
  display: inline-block;
}
.linkSub{
  background: #bb9dff;
  color: #550000;
  margin: 0;
  display: block;
}
#pagCurenta{
  font-size: 2.2vw;
  font-family: Times New Roman;
  font-weight: bold;
  font-style: italic;
  background: gold;
}

h1, h3, summary{
  font-style: italic;
}
summary{
  font-weight: bold;
  font-size: 45px;
}

ul, ol{
  text-align: left;
}

#fundal{
  position: fixed;
  left: 0; top: 0;
  width: 100%; height: 100%;
  z-index: -1;
}

#continut{
  position: relative;
}

.pozaCoperta{
  width: 80%; height: auto;
  border: inset 0.45vmax #ff4040;
  margin-top: 2vh;
}

.rama{
  width: 40%;
  padding: 2.2vmax;
  background: #ffd700;
  border-radius: 0.88vmax;
  margin: 0.45vw;
}
.poza{
  width: 95%; height: auto;
  border: inset 0.45vmax #ffec80;
}